apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: default
data:
  ENVIRONMENT: "production"
  DB_HOST: "observability-dev-postgres.c4tm2e0s4d3h.us-east-1.rds.amazonaws.com"
  DB_PORT: "5432"
  DB_NAME: "appdb"
  DB_USER: "dbadmin"
